{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Analysis</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
  <body>
    <div class = "head_bar">
        <p class = "logo">RedFlag</p>
        <h1> TD Document Name Analysis</h1>
    </div>

    <center>
    <div class = "summary">
        <div class = "row">
            <p>TD Sensitive</p>
            <p>TD 98% Confident</p>
        </div>
        <div class = "row">
            <p>TD 5 Pages</p>
            <p>TD 10 Images</p>
            <p>TD 48 Flags</p>
        </div>
    </div>
    </center>
    <center>
    <div class = "row">
        <div class = "embed_doc">
            <h3>Document</h3>
            <p> docs goes here</p>
        </div>
        <div class = "flags">
            <h3>Flags</h3>
            
            <!-- for each flag -->
            <div class = "flag">
                <div class = "col">
                    <!-- star if important -->
                     <p>★</p>
                </div>
                <div class = "col">
                    <div class = "row">
                        <p class = "flag_name">TD PII</p>
                        <p class = "location">TD Page 1, Line 2</p>
                    </div>
                    <div class = "row">
                        <p class = "desc">TD email, last name</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    </center>


  </body>
</html>