{% load static %}
<!-- variables needed -->
 <!-- 
 - doc_name
 - category
 - confidence
 - num_pages
 - num images
 - num_flags
 - flag_info: critical, name, page, line, description

  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Analysis</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
  <body>
    <div class = "head_bar">
        <p class = "logo">RedFlag</p>
        <h1> {{ doc_name|default:"" }} Analysis</h1>
    </div>

    <center>
    <div class = "summary">
        <div class = "row">
            <p>{{ category|default:"Uncategorized" }}</p>
            <p>{{ confidence|default_if_none:0|floatformat:2|add:"0"|floatformat:0  }}% Confident</p>
        </div>
        <div class = "row">
            <p>{{ num_pages|default:"Unknown" }} Pages</p>
            <p>{{ num_images|default:"Unknown" }} Images</p>
            <p>{{ num_flags|default:"Unknown" }} Flags</p>
        </div>
    </div>
    </center>
    <center>
    <!-- <div class = "row"> -->
        <!-- <div class = "embed_doc">
            <h3>{{ doc_name|default:"Document" }}</h3>
            
                <embed src="/media/TC1_Sample_Public_Marketing_Document_9HEdeFb.pdf" type="application/pdf" width="800" height="600" />
        </div> -->
        <div class="flags">
            <h3>Flags</h3>

            {% for flag in flag_info %}
                <div class="flag">
                    <div class="col">
                        <!-- star if important -->
                        {% if flag.critical %}
                            <p>★</p>
                        {% else %}
                            <p>&nbsp;</p> <!-- empty space if not critical -->
                        {% endif %}
                    </div>
                    <div class="col">
                        <div class="row">
                            <p class="flag_name">{{ flag.name }}</p>
                            <p class="location">Page {{ flag.page }}, Line {{ flag.line }}</p>
                        </div>
                        <div class="row">
                            <p class="desc">{{ flag.description }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No flags found.</p>
            {% endfor %}

        </div>

    <!-- </div> -->
    </center>


  </body>
</html>